<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaoyu.simple_blog.mapper.TagMapper">
	<resultMap id="BaseResultMap" type="com.shaoyu.simple_blog.DO.Tag">
		<!--@mbg.generated-->
		<!--@Table tag-->
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
	</resultMap>
	<sql id="Base_Column_List">
		<!--@mbg.generated-->
		id, `name`
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		<!--@mbg.generated-->
		select
		<include refid="Base_Column_List"/>
		from tag
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		<!--@mbg.generated-->
		delete from tag
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.shaoyu.simple_blog.DO.Tag"
			useGeneratedKeys="true">
		<!--@mbg.generated-->
		insert into tag (`name`)
		values (#{name,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.shaoyu.simple_blog.DO.Tag"
			useGeneratedKeys="true">
		<!--@mbg.generated-->
		insert into tag
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				`name`,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.shaoyu.simple_blog.DO.Tag">
		<!--@mbg.generated-->
		update tag
		<set>
			<if test="name != null">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.shaoyu.simple_blog.DO.Tag">
		<!--@mbg.generated-->
		update tag
		set `name` = #{name,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from tag
	</select>
	<insert id="insertTag">
		insert into tag   (`name`)
		values (#{name,jdbcType=VARCHAR})
	</insert>
</mapper>